<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ventas/css/clientes.css' %}">
    <title>Inventario</title>
</head>
<body>
    <section>
        <div class="nav">
            <ul>
                <li>
                    <a href="#">
                        <span class="icono"><ion-icon name="aperture"></ion-icon></span>
                        <span class="titulo">Logo</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'dashboard' %}">
                        <span class="icono"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="titulo">Dashboard</span>
                    </a>
                </li>
                {% if perms.ventas.view_clientes %}
                <li>
                    <a href="{% url 'clientes' %}">
                        <span class="icono"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="titulo">Clientes</span>
                    </a>
                </li>
                {% endif %}
                {% if perms.ventas.view_ventas %}
                <li>
                    <a href="{% url 'ventas' %}">
                        <span class="icono"><ion-icon name="cart-outline"></ion-icon></span>
                        <span class="titulo">Ventas</span>
                    </a>
                </li>
                {% endif %}
                {% if perms.ventas.view_productos %}
                <li>
                    <a href="{% url 'productos' %}">
                        <span class="icono"><ion-icon name="help-circle-outline"></ion-icon></span>
                        <span class="titulo">Productos</span>
                    </a>
                </li>
                {% endif %}
                {% if perms.ventas.view_detalle_ventas %}
                <li>
                    <a href="{% url 'detalles_ventas' %}">
                        <span class="icono"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="titulo">Detalle Venta</span>
                    </a>
                </li>
                {% endif %}
                {% if perms.ventas.view_categorias %}
                <li>
                    <a href="{% url 'categorias' %}">
                        <span class="icono"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="titulo">Categorias</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'index' %}">
                        <span class="icono"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="titulo">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu"></ion-icon>
                </div>
                <div class="buscar">
                    <label for="">
                        <input type="text" placeholder="Buscar..." name="" id="">
                        <ion-icon name="search"></ion-icon>
                    </label>
                </div>
                <div class="perfil-usuario">
                    <img src="{% static 'ventas/img/profile-photo1.jpg %}" alt="">
                </div>
            </div>
            <div class="detalles">
                <div class="clientes">
                    <div class="header">
                        <h2>Productos</h2>
                    </div>

                    <div style="text-align: center;">
                        <h2>Formulario CRUD para productos</h2><br>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_table }}
                            <input type="submit" value="Agregar">
                        </form><br><br>
                        <a href="{% url 'categorias' %}">Volver</a>
                    </div>
                
                    
                </div>
            </div>
        </div>
        
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'ventas/js/clientes.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>